﻿@model ProyectoEntityFramework.Models.Usuarios

@{
    ViewData["Title"] = "Crear usuario";
}

<div class="text-center">
    <h2 class="display-4">Crear un nuevo usuario</h2>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-secondary">
                <p class="text-white">Crear usuarios</p>
            </div>
            <div class="card body">
                <form asp-action="Crear" method="post" class="p-2">
                    <input class="form-control mb-2" type="text" placeholder="Nombre" asp-for="Nombre" required />
                    <input class="form-control mb-2" type="email" placeholder="Correo" asp-for="Correo" required />
                    <input class="form-control mb-2" type="text" placeholder="Telefono" asp-for="Telefono" required />
                    <input class="form-control mb-2" type="text" placeholder="Direccion" asp-for="Direccion" required />
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn btn-primary" type="submit">Crear Usuario</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a asp-controller="Inicio" asp-action="Index">Volver</a>
</div>

