﻿@model ProyectoEntityFramework.Models.Usuarios

@{
    ViewData["Title"] = "Eliminar usuarios";
}

<div class="text-center">
    <h2 class="display-4">Eliminar usuario</h2>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-secondary">
                <p class="text-white">Eliminar usuario</p>
            </div>
            <div class="card body">
                <form asp-action="Eliminar" class="p-2">
                    <!-- Enviando el Id del usuario como un campo oculto-->
                    <input type="hidden" asp-for="IdUsuario" />

                    <input class="form-control mb-2" type="text" asp-for="Nombre" readonly />
                    <input class="form-control mb-2" type="email" asp-for="Correo" readonly />
                    <input class="form-control mb-2" type="text" asp-for="Telefono" readonly />
                    <input class="form-control mb-2" type="text" asp-for="Direccion" readonly />
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn btn-primary" type="submit">Confirmar eliminación de este Usuario</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a asp-controller="Inicio" asp-action="Index">Volver</a>
</div>

