﻿@model IEnumerable<ProyectoEntityFramework.Models.Usuarios>

@{
    ViewData["Title"] = "Lista de usuarios";
}

<div class="text-center">
    <h2 class="display-4">Lista de usuarios</h2>
</div>
<div class="row">
    <div class="offset-12 mb-3">
        <a asp-action="Crear" asp-asp-controller="Inicio" class="btn btn-primary text-white">Crear Usuario</a>
    </div>    
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-secondary">
                <p class="text-white">Lista de usuarios</p>
            </div>
            <div class="card body">
                <div class="table">
                    @if (Model.Count() > 0)
                    {
                        <table class="table" id="tableUsuario" width="100%" cellspacing="0">
                            <thead class="table-light">
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.IdUsuario)</th>
                                    <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                                    <th>@Html.DisplayNameFor(model => model.Correo)</th>
                                    <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                                    <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => item.IdUsuario)</td>
                                        <td>@Html.DisplayFor(model => item.Nombre)</td>
                                        <td>@Html.DisplayFor(model => item.Correo)</td>
                                        <td>@Html.DisplayFor(model => item.Telefono)</td>
                                        <td>@Html.DisplayFor(model => item.Direccion)</td>
                                        <td>
                                            <a asp-action="Editar" asp-route-id="@item.IdUsuario">Editar</a>
                                            <a asp-action="Eliminar" asp-route-id="@item.IdUsuario">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Aún no hay usuarios registrados.</p>
                    }
                </div>
            </div>
        </div>
    </div> 
</div>

                                            